.preview-btn {
    --border-color: #707070;
    --border-style: unset;
    --border-width: 1px;
}
.demo-header{
    height: 50px;
    border-bottom: 1px dashed #fff;
    position: absolute;
    top: 50px;
    left: 0px;
    width: 100%;
}
.demo-footer{
    height: 75px;
    width: 100%;
    border-top: 1px dashed #fff;
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.demo-content ion-grid{
    height: 100%;
}